.details-page-container {
  margin-top: 20px;
}

.details-item-container {
  padding: 20px;
  border: 2px solid red;
}

.details-image {
  width: 100%;
}

.rounded-button {
  border-radius: 100px !important;
}


.associate-form {
  display: flex;
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  padding: 2%;
  border: 2px solid turquoise;
  background-color: bisque;
}
