.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid red;
    min-height: 99vh;
}

.entity-details {
    border: 2px solid black;
    grid-row: 1 / 4;
    grid-column: 2;
}

.image {
    border: 2px solid turquoise;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 30;
}

.map {
    border: 2px solid purple;
    grid-row: 3 / 4;
}