.details-page-container {
  margin-top: 20px;
}

.details-item-container {
  padding: 20px;
  border: 2px solid red;
}

.details-image {
  width: 100%;
}

.rounded-button {
  border-radius: 100px !important;
}