.Container {
    display: flex;
  }

.leaflet-container {
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  background-color: #2D2D2A !important;
} */

.ManageSearch{
    z-index: 2;
    position: absolute;
    top: 15px;
    right: 50%;
    height: 35px;
    width: 44px;
    background-color: white;
    border-radius: 5px;
    padding-top:10px;
}

.addPerson {
  z-index: 3;
  position: absolute;
  top: 15px;
  right: 42%;
  height: 35px;
  width: 44px;
  background-color: white;
  border-radius: 5px;
  padding-top:10px;
}


.leaflet-control-layers {
  border: none !important;
}

.filterContainer{ 
  /* background-color: #F8F4E3; */
  background-color: #2D2D2A;
  border: black;
  width: 300px;
  height: 600px;
  z-index: 2;
  position: absolute;
  bottom: 100px;
  right: 30px;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid black;
}

.css-jzcd7z-MuiFormControlLabel-root {
  color: #F8F4E3;
}

/* .MuiAutocomplete-listbox{
  background-color: #F8F4E3;
} */

/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 5px solid red;
} */
/* .MuiOutlinedInput-notchedOutline{
  border: 2px solid #F8F4E3 !important;
} */


/* .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #F8F4E3 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #F8F4E3 !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: #F8F4E3 !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #F8F4E3 !important;
}


.SearchContainer{
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  width: 600px;
  height: 40px;
  z-index: 2;
  position: absolute;
  bottom: 60px;
  left: 30px;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 10px;
} */

.closeIcon {
  width: 27.5px;
  background-color: #F8F4E3;
  border-radius: 100px;
  position: relative;
  left: 275px;
  bottom: 10px;
  margin-bottom: 15px;
  padding: 5px;
  cursor: pointer;
}

.searchSwitch {
  position: relative;
  right: 35px;
}

.latLongSearch {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.locationSearch {
  width: 55px;
  height: 56px;
  background-color: #F8F4E3;
  border-radius: 100px;
  padding: 5px;
  margin: auto 5px;
  cursor: pointer;
}

/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
color: #F8F4E3 !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
color: red !important;
}

input:-internal-autofill-selected {
background-color: red !important;
color: red !important;
} */


/* .searchfield {
  max-width: 80px;
} */

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #3F88C5;  
  color: black;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}

.leaflet-retina .leaflet-control-layers:nth-child(2) .leaflet-control-layers-toggle {
  background-image: url('./icons/people-group-solid.svg');
}

.cluster-icon2 {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: goldenrod;  
    color: black;
    transform: translate(-25%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
  }

  .MapSummary{
    background-color: #F8F4E3;
    border-radius: 5px;
  }

  .activelines {
    width: 27.5px;
    background-color: red;
    border-radius: 100px;
    /* margin-left: 5px;
    margin-right:5px */
  }

  .notActiveLines {
    width: 27.5px;
    background-color: steelblue;
    border-radius: 100px;
    /* margin-left: 5px;
    margin-right:5px */

  }

  .Eventactiveline {
    width: 27.5px;
    background-color: darkblue;
    border-radius: 100px;
    margin-right: 5px;
    margin-left: 5px;
    color: white;

  }

  .EventnotActiveLines {
    width: 27.5px;
    background-color: steelblue;
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;

  }

.DetailsIcon {
  width: 27.5px;
  background-color: steelblue;
  border-radius: 100px;
}

.OrgDetailsIcon {
  width: 27.5px;
  background-color: steelblue;
  border-radius: 100px;
  margin-left: 5px;
}

.mgrsConversion {
  background-color: #F8F4E3;
  border-radius: 5px;
}

.AnalyzeIcon{
  width: 27.5px;
  background-color: steelblue;
  border-radius: 100px;
  margin-left: 5px;
}