.Container {
    display: flex;
  }

.leaflet-container {
    width: 100vw;
    height: 100vw;
    z-index: 1;
  }

.ManageSearch{
    z-index: 2;
    position: absolute;
    top: 70px;
    right: 10px;
    height: 35px;
    width: 44px;
    background-color: white;
    border-radius: 5px;
    padding-top:10px;
    border: 2px solid rgb(202, 200, 200);

}

  .filterContainer{
    background-color: lightgrey;
    border: black;
    width: 300px;
    height: 500px;
    z-index: 2;
    position: absolute;
    bottom: 40px;
    right: 30px;
    border-radius: 5px;
    padding:7px;
    border: 1px solid black;

  }


  .SearchContainer{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    width: 600px;
    height: 40px;
    z-index: 2;
    position: absolute;
    bottom: 40px;
    left: 30px;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 10px;
  }

  .filterHeader{
    display: flex;
    background-color: darkgrey;

  }

  .closeIcon {
    width: 40px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: tan;
    border-radius: 5px;
    border: 2px solid rgb(202, 200, 200);

  }
  .secondSearch{
    margin-top: 5px;
    background-color: darkgrey;
  }

 .latLongSearch {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
 }

 .locationSearch {
    width: 55px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: tan;
    border-radius: 5px;
    border: 2px solid rgb(202, 200, 200);

  }

 /* .searchfield {
    max-width: 80px;
 } */