.association-grid{
  border: 2px solid red;
  padding: 10px;
  background-color: antiquewhite; 
}
.association-box{
  flex: 1;
  max-width: 100px;
  border: 1px solid black;
  padding:20px;
  height: 200px;
  float: right;
}
.save-button {
  background-color: red;
  border: none;
  color: white;
  width: 75px;
  height: 30px;
  border-radius: 15px;
  font-size: 19px;
  margin-left: 35px;
}
.AddEntity-page-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px color antiquewhite;
}
.entity-header{
  background-color: antiquewhite;
  color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 40px;
  text-size-adjust: 50px;
}
.header-title{
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-align: center;
  justify-content: center;
}