
  #loginText{
    color:black !important;
    border-color: black !important;
    background-color: white !important;
 } 
 #form{
    color:black !important;
    border-color: black;
 }
 #div{
    background-color: black !important;
 }